* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Refatoração */
.intro, .codigos-de-cor, .oque-e-rgb, .oque-e-hsl, .oque-e-hex{
  margin: 30px 20px;
}

.campo .content .entrada .preview,
.preview {
  height: 300px;
  border-radius: 10px;
  overflow: auto;
  cursor: crosshair;
  transition: all 0.5s ease-in-out;
}

h3{
  margin: 20px 0;
  font-size: 18px;
  font-family: monospace;
}
.campo .content .entrada .preview {
  border: solid 1px #bbbbc5;
}

.campo .saida .painel {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.campo .saida .painel .painel-pre-selecao,
.campo .saida .painel .painel-cor-selecionada {
  display: flex;
  flex-direction: column;
}

.preview {
  border: dashed 2px black;
}

.preview:hover {
  background-color: rgba(0, 0, 0, 0.377);
  color: #fff;
}

header div{
  max-width: 1120px;
  margin: 0 auto;
}

.logo {
  height: 45px;
  margin: 7px 20px;
}

main {
  width: 100%;
  height: 100%;
}

.topo {
  background-color: black;
  height: 60px;
  width: 100%;
}

.corpo {
  margin: 0 auto;
  position: relative;
  width: 1120px;
  background-color: rgba(255, 255, 255, 0.567);
}

input[type="file"] {
  display: none;
}

.entrada {
  display: inline-block;
  width: 100%;
}

.saida {
  float: right;
  display: inline-block;
  width: 400px;
  position: absolute;
  margin-left: 2%;
}

h1, h2, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

p {
  line-height: 24px;
  color: #000;
  font-size: 13pt;
}

.info p {
  padding-right: 50px;
}

#fechar {
  float: right;
  background: #ff0000;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: 98%;
}

#fechar:hover {
  background: #fc0000;
  border: 2px solid #000;
}

.fecharOff {
  display: none;
}

#previewCor,
#selectCor {
  width: 100%;
  height: 40px;
  border: solid 1px black;
  display: inline-block;
}

#resultado {
  margin: 40px;
  height: 140px;
  background-color: #bdccd352;
  border: solid 1px #bbbbc5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #1a1515;
  padding: 5px;
  border-radius: 8px;
}

.saida p {
  display: inline-block;
  padding-left: 30px;
}

.content {
  position: relative;
  width: 49%;
  display: inline-block;
  margin-left: 10px;
  height: 318px;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.66);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  position: relative;
}

footer p {
  color: #fff;
}

/* Responsividade */
@media (max-width: 950px) {
  .corpo {
    width: 100%;
    border: 0;
  }
}

@media (max-width: 850px) {
  .logo {
    margin-left: 100px;
  }

  .corpo {
    width: 100%;
    border: 0;
  }

  .content {
    width: 100%;
    padding: 0 10%;
    margin: 0;
  }

  .entrada {
    width: 100%;
  }

  .saida {
    display: block;
    width: 80%;
    margin: 10% auto 0;
  }

  .info {
    margin-top: 280px;
  }

  .p2 {
    float: right;
    padding-right: 30px;
  }

  .cor {
    width: 100%;
  }

  #previewCor,
  #selectCor {
    max-width: 120px;
    max-height: 50px;
    width: 100%;
  }

  #previewCor {
    margin: 0 0 0 8%;
  }

  #selectCor {
    float: right;
    margin: 0 8% 0 0;
  }

  #resultado {
    margin: 55px auto 0;
    width: 80%;
    text-align: center;
  }

  #fechar {
    left: 89%;
  }

  .controleTamanho {
    display: flex !important;
    justify-content: center;
    width: 80% !important;
    transform: scale(1.5);
    padding-left: 15%;
  }
  
  .intro {
    margin: 30px 0px;
  }
}

@media (max-width: 530px) {
  p {
    font-size: 10pt;
  }

  .intro {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  .logo {
    margin-left: 0;
  }

  #previewCor,
  #selectCor {
    max-width: 90px;
    max-height: 30px;
  }

  .p2,
  .p1 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  #resultado {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }
}

/* Extras */
.ex_rgb, .ex_rgb2, .ex_hex, .ex_hex2 {
  margin: 0 25%;
  max-width: 50%;
}

.ex_hsl {
  margin-left: 18%;
  width: 60%;
}

.ex_hex2 {
  margin-bottom: 50px;
}

.msg {
  margin-top: 15%;
  font-family: Courier New, monospace;
  text-align: center;
}

.msgDesativo {
  display: none;
}

.linkedin {
  width: 20px;
  height: 20px;
}

.linkedin:hover {
  background-color: rgba(0, 0, 0, 0.753);
}

.p-footer {
  padding: 0;
}

a {
  color: #fff;
}

a:hover {
  color: rgba(0, 0, 0, 0.678);
}

.mais, .menos {
  background-color: #fff;
  border-radius: 50px;
}

.mais:hover, .menos:hover {
  background: rgb(40, 170, 40);
  color: #fff;
  cursor: pointer;
}

.controleTamanho {
  display: inline-block;
  width: 20px;
}

.controleTamanhoOff {
  display: none !important;
}

.controleTamanho img {
  width: 25px;
  height: 25px;
}
