{% if enable_ads %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ ads_client }}"
    crossorigin="anonymous"></script>
{% endif %}

{% if ga_id and ga_id != 'G-XXXXXXXXXX' %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ ga_id }}');
</script>
{% endif %}

{% if schema_json is defined and schema_json %}
<script type="application/ld+json">{{ schema_json|raw }}</script>
{% endif %}

<script src="/assets/js/app.js" defer></script>